/venv/
.idea
/old/log/
/old/data/
/tex/main.synctex.gz
/tex/main.log
/tex/main.blg
/tex/main.aux
/tex/main.run.xml
/tex/main.bbl
/tex/main.bcf
/tensorboard_log_autokeras/
/tensorboard_log/
/memory_ak/
/memory/
/auto_models/
/best_models/
/timing_tests/
